@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat&display=swap");

:root {
  --main-font: "Montserrat", sans-serif;
  --fortnite-font: "Luckiest Guy", arial, sans-serif;
}

body {
  font-family: var(--main-font);
}
