.container {
  position: relative;
  top: 2em;
  border-radius: 10px;
  padding: 0.9em;
  opacity: 0.9;
  box-shadow: 0 0 30px hsla(180, 0%, 100%, 0.5);
  cursor: pointer;
  font-size: 12px;
}

.title {
  margin: 0;
  font-size: 1.1em;
  letter-spacing: .2px;

}

.body {
  height: auto;
  max-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  overflow: hidden;
  letter-spacing: .2px;
  transition-property: max-height margin;
  transition-duration: 300ms;
  transition-delay: 50ms;
  transition-timing-function: ease-in-out;
}

.container:hover .body {
  margin-top: 0.25em;
  max-height: 3em;
}
